body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  line-height:72px;
  background: darkmagenta;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.footer {
  height: 72px;
  line-height:72px;
  background: #eee;
  color: darkmagenta;
  text-align:center;
}

.heart{
  color:red;
  margin:0 5px;
  font-size:1.2rem;
}

.content{
  display:flex;
}

.sidebar {
  width: 300px;
  background: royalblue;
  flex:1;
}

ul{
  list-style-type: none;
}

a{
  text-decoration:none;
  font-family:'Roboto', sans-serif;
}

li{
  margin-top: 20px;
}

.cards{
  flex:5;
  display:flex;
  flex-wrap:wrap;

}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding:16px 16px 45px 16px;
  margin:16px;
  width:300px;
}